<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Terminal</title>

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/about.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section>
            <h1>About.</h1>

            <div class="centered">
                <p class="muted">What is The Terminal?</p>
            </div>

            <div class="about-container">
                <h3>The origins</h3>

                <div class="muted justified paragraph">
                    <p>"The Terminal" started quietly, almost like an inside joke between a few developers who wanted a place to talk about tech without all the noise.</p>
                    <p>It wasn’t about just chatting — it was about finding people who really got it, who lived and breathed code, and wanted to dive into the deep stuff.</p>
                    <p>It felt like a secret, like a hidden space for those who were truly obsessed with technology and development.</p>
                    <p>Over time, more found their way in, drawn by that same need to connect with others who shared their passion.</p>
                    <p class="mt-1">It wasn’t for everyone, and that was part of the appeal — only the sharpest minds, the most curious, stayed.</p>
                </div>

                <div class="muted mt-1">
                    <p class="no-select">Kpk jhuzfer vl fjbsyd &lt;kukx&gt;<span class="invisible">VEhFS0VZSVNSSUdIVElORlJPTlRPRllPVQ==</span></p>
                    <p class="mt-2 italic">- Maybe you should start shifting your point of view. -</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
